.theme-logo {
	display: flex;
	align-items: center;
	padding: $logo-padding;

	.logo-text {
		display: inline-block;
		font-size: 1rem;
		font-weight: $font-weight-bold;
		text-decoration: none;
		color: -color("text", 1);
	}
}
.vs-navbar-content {
	z-index: 1040 !important;
}
